{% extends 'base.html' %}
{% load filters %}

{% block style %}
<title>Add Skillplan - Audit</title>
{% endblock %}

{% block content %}
<main class="row flex-nowrap m-0 bg-dark min-vh-100 overflow-auto">
    <div class="my-3">
        <div class="d-flex justify-content-center">
            <div class="card card-default bg-danger bg-dark text-light col-md-6">
                <div class="card-header">
                    <div class="card-title mb-0">
                        Añadir Skillplan
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="name">Nombre del Skillplan</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group mb-2">
                            <label for="desc">Descripcion</label>
                            <input type="text" name="desc" id="desc" class="form-control">
                        </div>
                        <div class="form-group mb-2">
                            <label for="skills">Skills</label>
                            <textarea name="skills" id="skills" class="form-control" rows="10"></textarea>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger">Subir Skillplan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}