{% load static %}
{% load filters %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {% block style %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-danger navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/auth/dashboard">Helgast Auth</a>
            <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user|has_group:"Miembro" and user|has_group:"Null-sec" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Auditoria</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/auth/audit/">Personajes</a></li>
                            <li><a class="dropdown-item" href="/auth/audit/skillplans">Comprobar Skill Plans</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Flotas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/auth/fittings/">Doctrinas</a></li>
                            <li><a class="dropdown-item" href="/auth/fats/list/">Segimiento de Flotas</a></li>
                            {% if user|has_group:"FC" %}
                                <li><a class="dropdown-item" href="/auth/fats/add/">Fats</a></li>
                            {% endif %}
                            {% if user|has_group:"MainFC" %}
                                <li><a class="dropdown-item" href="/auth/fittings/admin/">Organizar Doctrinas</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Grupos
                        </a>    
                        <ul class="dropdown-menu">
                            <li><a href="/auth/groups/" class="dropdown-item">Lista de Grupos</a></li>
                            {% if user|has_group:"Director" %}
                                <li><a href="/auth/group/management/requests/" class="dropdown-item">Gestionar Grupos</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if user|has_group:"Director" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Corp
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/auth/corp/banlist">Lista de baneos</a></li>
                            <li><a class="dropdown-item" href="/auth/corp/memberlist">Lista de Miembros</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">test</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-flex">
                    <div class="align-self-center text-start">
                        <h6 class="m-0 text-light">{{main_pj.characterName}}</h5>
                    </div>
                    <div class="p-2 position-relative m-2">
                        <img class="rounded-circle"
                            src="https://images.evetech.net/characters/{{main_pj.characterId}}/portrait?size=32"
                            alt="Senocab">
                    </div>
                    <a class="btn btn-dark align-self-center text-danger" href="/sso/logout/">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>