{% extends 'base.html' %}

{% block style %}
<title>Gestión Doctrinas - Helgast Auth</title>
{% endblock %}

{% block content %}
<main class="row flex-nowrap m-0 bg-dark min-vh-100 overflow-auto">
    <div class="my-3">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-default mb-3 text-light bg-dark">
                    <div class="card-header">
                        <div class="card-title mb-0">
                            Lista de doctrinas
                            <div class="float-end">
                                <a class="btn btn-danger" href="/auth/fittings/admin/doctrine/add/">
                                    <i class="bi bi-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-dark table-hover dataTable no-footer">
                            <thead>
                                <tr>

                                    <th class="col">Nombre</th>
                                    <th class="col">Descripccion</th>
                                    <th class="col">Categorias</th>
                                    <th class="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for doctrine in list_doctrines %}
                                <tr>
                                    <td>{{doctrine.doctitle}}</td>
                                    <td>{{doctrine.desc}}</td>
                                    <td>
                                        {% if doctrine.docCategory.all %}
                                            {{doctrine.docCategory.all|join:" "}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Opciones">
                                            <a class="btn btn-danger"
                                                href="/auth/fittings/admin/doctrine/mod/{{doctrine.id}}/">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a class="btn btn-danger"
                                                href="/auth/fittings/admin/doctrine/del/{{doctrine.id}}/">
                                                <i class="bi bi-trash3-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-default mb-3 text-light bg-dark">
                    <div class="card-header">
                        <div class="card-title mb-0">
                            Lista de categorias
                            <div class="float-end">
                                <a class="btn btn-danger" href="/auth/fittings/admin/category/add/">
                                    <i class="bi bi-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-dark table-hover dataTable no-footer">
                            <thead>
                                <tr>
                                    <th class="col">Nombre</th>
                                    <th class="col">Tipo</th>
                                    <th class="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in list_categories %}
                                <tr>
                                    <td>{{category.name}}</td>
                                    {% if category.type == 1 %}
                                    <td>Doctrina</td>
                                    {% else %}
                                    <td>Fit</td>
                                    {% endif %}
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Opciones">
                                            <a class="btn btn-danger"
                                                href="/auth/fittings/admin/category/mod/{{category.id}}">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a class="btn btn-danger"
                                                href="/auth/fittings/admin/category/del/{{category.id}}">
                                                <i class="bi bi-trash3-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}