{% extends 'base.html' %}
{% load static %}

{% block style %}
<title>Equipamiento - Helgast Auth</title>
{% endblock %}

{% block content %}
<main class="row flex-nowrap m-0 bg-dark">
    <div class="row flex-nowarp vh-100 overflow-auto">
        <div class="my-3">
            <div class="row">
                <div class="card card-primary mb-3 bg-dark text-light">
                    <div class="card-header">
                        <div class="card-title mb-0">Información del Equipamiento</div>
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt>Doctrina</dt>
                            <dd>
                                <ul>
                                    <li>
                                        <a
                                            href="/auth/fittings/doctrine/{{fit.fitDoctrine.id}}">{{fit.fitDoctrine.doctitle}}</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card card-primary mb-3 bg-dark text-light">
                    <div class="card-header">
                        <div class="card-title mb-0">Character Base Skill Checks</div>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" style="
                        -webkit-animation: progress-bar-stripes 2s linear infinite;
                        animation: progress-bar-stripes 2s linear infinite;
                                animation-direction: alternate;
                                background-image: linear-gradient(
                                    45deg,
                                    rgba(255, 0, 0, 0.15) 25%,
                                    transparent 25%,
                                    transparent 50%,
                                    rgba(255, 0, 0, 0.15) 50%,
                                    rgba(255, 0, 0, 0.15) 75%,
                                    transparent 75%,
                                    transparent 50%
                                );
                                background-size: 40px 40px">
                            <p class="text-center m-0">
                                Habilidades básicas necesarias para <b>sentarte en la nave</b> y <b>usar los modulos</b>.
                                <br>
                                Las skills mejoradas <b>son</b> son necesarias para usar correctamente el fiteo en flota.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card card-primary mb-3 bg-dark text-light">

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}