{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block style %}
<title>Equipamiento - Helgast Auth</title>
<link rel="stylesheet" href="{% static 'css/fit.css' %}">
{% endblock %}

{% block content %}
<main class="row flex-nowrap m-0 bg-dark min-vh-100 overflow-auto">
    <div class="my-3">
        <div class="modal fade" id="eftModal" tabindex="-1" aria-labelledby="eftModalTitle" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark text-light">
                    <div class="modal-header">
                        <div class="modal-title fs-5" id="eftModalLongTitle">{{fit.nameFit}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <label for="eft-fitting" style="margin-bottom: 1rem;">
                            EFT Formatted Fitting
                        </label>
                        <textarea id="eft-fitting" class="bg-dark text-light" rows="25" onclick="this.select()"
                            readonly>{{etf}}
                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary mb-3 bg-dark text-light">
                    <div class="card-header">
                        <div class="card-title mb-0">Información del Equipamiento</div>
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt>Doctrina</dt>
                            <dd>
                                <ul>
                                    {% for doctrine in fit.fitDoctrine.all %}
                                    <li>
                                        <a href="/auth/doctrine/{{doctrine.id}}">{{doctrine.doctitle}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card card-primary mb-3 bg-dark text-light">
                    <div class="card-header">
                        <div class="card-title mb-0">Check de skills base</div>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" style="-webkit-animation: progress-bar-stripes 2s linear infinite;
                                    animation: progress-bar-stripes 2s linear infinite;
                                    animation-direction: alternate;
                                    background-image: linear-gradient(
                                        45deg,
                                        rgba(255, 50, 50, 0.15) 25%,
                                        transparent 25%,
                                        transparent 50%,
                                        rgba(255, 50, 50, 0.15) 50%,
                                        rgba(255, 50, 50, 0.15) 75%,
                                        transparent 75%,
                                        transparent 50%
                                    );
                                    background-size: 40px 40px">
                            <p class="text-center m-0">
                                Estas son las skills necesarias para <b>usar la nave</b> y <b>los modulos</b>.
                                <br>
                                En flotas sera <b>necesario</b> subir más las skills para aprovechar al máximo el fiteo
                            </p>
                        </div>
                        {% for pj in list_pj %}
                        <p>
                            {{pj.characterName}}
                            <span class="float-end">
                                {% if pj.check_ship %}
                                <button class="btn btn-sm btn-success">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                {% else %}
                                <button class="btn btn-sm btn-danger">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                                {% endif %}
                            </span>
                        </p>
                        {% endfor %}
                    </div>
                </div> 
                <div class="card card-primary mb-3 bg-dark text-light">
                    <div class="card-header">
                        <div class="card-title mb-0">Skills base requeridas</div>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" style="-webkit-animation: progress-bar-stripes 2s linear infinite;
                                    animation: progress-bar-stripes 2s linear infinite;
                                    animation-direction: alternate;
                                    background-image: linear-gradient(
                                        45deg,
                                        rgba(255, 50, 50, 0.15) 25%,
                                        transparent 25%,
                                        transparent 50%,
                                        rgba(255, 50, 50, 0.15) 50%,
                                        rgba(255, 50, 50, 0.15) 75%,
                                        transparent 75%,
                                        transparent 50%
                                    );
                                    background-size: 40px 40px">
                            <p class="text-center m-0">
                                Estas son las skills necesarias para <b>usar la nave</b> y <b>los modulos</b>.
                                <br>
                                En flotas sera <b>necesario</b> subir más las skills para aprovechar al máximo el fiteo
                            </p>
                        </div>
                        {% for skill, level in fit_skills.items %}
                            <p>
                                {{skill}}<span class="float-end">{{level}}</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-default mb-3 bg-dark text-light">
                    <div class="card-header">
                        <div class="card-title mb-0">Equipamiento
                            {% if user|has_group:"MainFC" %}
                            <div class="float-end">
                                <a href="/auth/doctrine/fit/edit/{{fit.id}}" class="btn btn-sm btn-danger"><i class="bi bi-pencil-fill"></i></a>
                            </div>
                            {% endif %}
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div id="Fitting_Panel">
                                    <div id="mask"
                                        style="position:absolute; left: 0; top: 0; width: 398px; height: 398px; z-index: -1;">
                                        <img class="rounded"
                                            style="position:absolute; left: 0; top: 0; height: 398px; width: 398px; border: 0;"
                                            src="{% static 'img/tyrannis.png' %}" alt>
                                    </div>
                                    <div id="highx">
                                        <img src="{% static hi_slots %}">
                                    </div>
                                    {% for high in hi_items %}
                                    <div id="high{{forloop.counter}}">
                                        <img class="rounded"
                                            src="https://images.evetech.net/types/{{high.type_id}}/icon?size=32">
                                    </div>
                                    {% endfor %}
                                    <div id="midx">
                                        <img src="{% static med_slots %}">
                                    </div>
                                    {% for mid in med_items %}
                                    <div id="mid{{forloop.counter}}">
                                        <img class="rounded"
                                            src="https://images.evetech.net/types/{{mid.type_id}}/icon?size=32">
                                    </div>
                                    {% endfor %}
                                    <div id="lowx">
                                        <img src="{% static lo_slots %}">
                                    </div>
                                    {% for low in lo_items %}
                                    <div id="low{{forloop.counter}}">
                                        <img class="rounded"
                                            src="https://images.evetech.net/types/{{low.type_id}}/icon?size=32">
                                    </div>
                                    {% endfor %}
                                    <div id="rigxx">
                                        <img src="{% static rig_slots %}">
                                    </div>
                                    {% for rig in rig_items %}
                                    <div id="rig{{forloop.counter}}">
                                        <img class="rounded"
                                            src="https://images.evetech.net/types/{{rig.type_id}}/icon?size=32">
                                    </div>
                                    {% endfor %}
                                    {% if subsystem_items %}
                                    <div id="subx">
                                        <img src="{% static 'img/4s.png' %}">
                                    </div>
                                    {% for sub in subsystem_items %}
                                    <div id="sub{{forloop.counter}}">
                                        <img class="rounded"
                                            src="https://images.evetech.net/types/{{sub.type_id}}/icon?size=32">
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                                    <div id="bigship">
                                        <img class="rounded"
                                            src="https://images.evetech.net/types/{{fit.shipId}}/render?size=256"
                                            style="height: 256px; width: 256px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 text-center">
                                <div class="text-center" style="margin-bottom: 1rem;">
                                    <h3>{{fit.nameFit}}</h3>
                                    <h6>
                                        {% if fit.fitCategory.all %}
                                        {{fit.fitCategory.all|join:" "}}
                                        {% endif %}
                                    </h6>
                                </div>
                                <div class="card card-warning mb-3 bg-dark text-light">
                                    <div class="card-header">
                                        <div class="card-title mb-0">
                                            Notas del Equipamiento
                                        </div>
                                    </div>
                                    <div class="card-body text-start">
                                        <p>{{fit.nameFit}}</p>
                                        <p>{{fit.desc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default mb-3 bg-dark text-light">
                    <div class="card-header">
                        <div class="card-title mb-0">
                            Detalles del Fit
                            <div class="float-end">
                                <span data-toggle="modal" data-target="#eftModal">
                                    <button class="btn btn-sm btn-danger" id="copyEftButton" data-bs-toggle="modal"
                                        data-bs-target="#eftModal" data-bs-tooltip="aa-fittings"
                                        data-bs-original-title="Copiar equipamiento (EFT)">
                                        Copiar equipamiento (EFT)
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-warning">Tipo</li>
                            <li class="list-group-item bg-dark"><img class="rounded"
                                    src="https://images.evetech.net/types/{{fit.shipId}}/render?size=32"></li>

                            {% if subsystem_items %}
                            <li class="list-group-item list-group-item-warning">Subsistemas</li>
                            {% for sub in subsystem_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{sub.type_id}}/icon?size=32">
                                {{sub.itemName}}
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if hi_items %}
                            <li class="list-group-item list-group-item-warning">Slots Superiores</li>
                            {% for high in hi_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{high.type_id}}/icon?size=32">
                                {{high.itemName}}
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if med_items %}
                            <li class="list-group-item list-group-item-warning">Slots Intermedios</li>
                            {% for mid in med_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{mid.type_id}}/icon?size=32">
                                {{mid.itemName}}
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if lo_items %}
                            <li class="list-group-item list-group-item-warning">Slots Inferiores</li>
                            {% for low in lo_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{low.type_id}}/icon?size=32">
                                {{low.itemName}}
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if rig_items %}
                            <li class="list-group-item list-group-item-warning">Rigs</li>
                            {% for rig in rig_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{rig.type_id}}/icon?size=32">
                                {{rig.itemName}}
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if cargo_items %}
                            <li class="list-group-item list-group-item-warning">Cargo</li>
                            {% for cargo in cargo_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{cargo.type_id}}/icon?size=32">
                                {{cargo.itemName}} x{{cargo.quantity}}
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if drones_items %}
                            <li class="list-group-item list-group-item-warning">Drones</li>
                            {% for drone in drones_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{drone.type_id}}/icon?size=32">
                                {{drone.itemName}} x{{drone.quantity}}
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if fighters_items %}
                            <li class="list-group-item list-group-item-warning">Figthers</li>
                            {% else %}
                            {% endif %}
                            
                            {%for fighter in fighters_items %}
                            <li class="list-group-item bg-dark text-light">
                                <img class="rounded"
                                    src="https://images.evetech.net/types/{{fighter.type_id}}/icon?size=32">
                                {{fighter.itemName}} x{{fighter.quantity}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}