{% extends 'base.html' %}

{% block style %}
    <title>Reclutamiento - Lista de Pollos</title>
{% endblock %}

{% block content %}
<main class="row flex-nowrap m-0 bg-dark min-vh-100 overflow-auto">
    <div class="my-3 d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card card-default mb-3 bg-dark text-light">
                <div class="card-header">
                    <div class="card-title mb-0">Lista de Pollos</div>
                </div>
                <div class="card-body">
                    <table class="table table-dark table-hover no-footer">
                        <thead>
                            <tr>
                                <th class="col">Nombre</th>
                                <th class="col">Fecha de ingreso</th>
                                <th class="col">Skill Plan Checker</th>
                                <th class="col">Notas</th>
                                <th class="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidate in list_candidates %}
                            <tr>
                                <td class="col">{{candidate.user.username}}</td>
                                <td class="col">{{candidate.date}}</td>
                                <td class="col">
                                    {% if candidate.skill_check %}
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="bi bi-check-lg"></i>
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-danger btn-sm">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="col">{{candidate.notes}}</td>
                                <td class="col">
                                    <div class="d-flex justify-content-center gap-2">
                                        <a href="/auth/recruitment/admin/{{candidate.id}}/" class="btn btn-primary btn-sm">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="candidate_id" value="{{candidate.id}}">
                                            <button class="btn btn-danger btn-sm">
                                                Bajar a Null
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}